<div class="row" style="max-width: none;">
    <div class="large-12  columns home-top">
        <style>
                /* Prevents slides from flashing */
            #slides {
                display: none;
            }
        </style>
        <div id="slides">
            <%= image_tag ("homepage.png") %>
            <%= image_tag ("Quote3.png") %>
            <%= image_tag ("quote1.png") %>
            <%= image_tag ("quote2.png") %>
        </div>


    </div>

 </div>
<div class="row middle" style="max-width: none;">
    <div class="large-12  large-centered columns ">

        <div class="small-3 small-centered columns">
        <h4 style="color: #000000;"><i>What is HomeSchool hire?</i></h4>
            </div>
        <div class="small-11 panel add_shadow small-centered columns">
            <h5>
                <p>In our effort to support local businesses and farmers rather than huge corporations for our purchases,
            we were overlooking a very important community, our homeschooling community. No matter what curriculum you use, or what your reasons are for homeschooling,
            there is one thing we all share and that is the huge sacrifice it takes to walk down this path.</p>
                <p>We are an enormous pool of resources all with a common thread.
            We have tradesmen, artists, teachers, software designers, musicians, seamstresses, marketing specialists, writers, and so much more, so why not tap into our
            own community when looking for services? That is what HomeSchool Hire is about. Helping to connect us with the services and supplies we need,
            all while helping to support other homeschooling families. You can search through, look at resumes, see what skills others have to offer,
            as well as add your own information to the list. This homeschooling community is incredibly supportive in so many ways, this is just another
            way to support each other and keep it local!</p>
                <p> We are currently in Beta, if you would like an invitation please send us a request.</p>
        </h5>
        </div>
</div>

</div>
