<div id="send_message" title="Send a message" style="display:none;">
    Subject:<input id="send_message_subject" type="text" name="subject">
    Message:</br>
    <textarea id="send_message_text" style="height: 220px;width: 550px;">
     </textarea>

        </div>

