<header class="header_style">
    <div class="row">
        <h2>Edit Profile <%=image_tag ("ajax-loader.gif"), style:"display: none;", id:"load_gif" %></h2>
    </div>
</header>
<div class="row">

    <%= render "form" %>
</div>
