<div class="footer-bottom" id="footer">
    <div class="row">
        <div class="large-6 columns">
        <h6 class="subheader">© 2013, Painted Turtle Software or its affiliates</h6>
        </div>
        <div class="large-6 columns ">
            <div class="right">
        <script id='flattrbtn'>(function (i) {
            var f, s = document.getElementById(i);
            f = document.createElement('iframe');
            f.src = '//api.flattr.com/button/view/?uid=domwolfe&button=compact&url=' + encodeURIComponent(document.URL);
            f.title = 'Flattr';
            f.height = 20;
            f.width = 110;
            f.style.borderWidth = 0;
            s.parentNode.insertBefore(f, s);
        })('flattrbtn');</script>
            </div>
        </div>
    </div>

</div>